.icon {
  color: tomato;
  font-size: 2rem;
}
.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 2px;
}
.grid div {
  background-color: #f5f4f2;
  border: 1px solid greenyellow;
  padding: 10px;
  text-align: center;
}
